<template>
<div>
  <router-view></router-view>  
</div>	
</template>
<script>

export default{
	name:'nutrition-container',
	data(){
		return {
			
		}
	},
	methods:{
	}
}
</script>
<style>

</style>
